<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-check-square-o"></i> New Request</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Here you can view available requests and initialize them.</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content white-bg">

                    <div class="row">
                        <div class="col-md-3">
                            <img class = "request-image" src="./assets/images/request_image.png">

                        </div>
                        <div class="col-md-9">

                            <h2 class="font-bold m-b-xs text-center">
                                X-Team Job Application
                            </h2>
                            <hr>

                            <h4>Description</h4>

                            <div class="text-muted">
                                Motivated developers move projects forward more than anyone else. X-Teamers have a relentless desire to learn and grow, and they consistently push themselves forward. Put simply: You'll never need to hold their hand.
                            </div>
                            <dl class="m-t-md">
                                <dt>Involved Users:</dt>
                                <dd>X-Team Ambassadors</dd>
                            </dl>

                            <div>
                                <a class="btn btn-primary btn-md pull-right" [routerLink]="['/dashboard/xteam_request']"><i class="fa fa-edit"></i> Start Request!</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    
    
</div>