<!-- Topnavbar Box-->
<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <!-- Toggle Navigation Size -->
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>
    <!-- Navbar Links-->
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a (click)="logout()">
          <i class="fa fa-sign-out"></i> Logout
        </a>
      </li>
    </ul>
    <!-- End Navbar Links-->
  </nav>
</div>
<!-- End Topnavbar Box-->
